
@font-face {
    font-family: 'Aeonik Pro TRIAL';
    src: url('./../../fonts/aeonik/AeonikProTRIAL-Light.eot');
    src: url('./../../fonts/aeonik/AeonikProTRIAL-Light.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/aeonik/AeonikProTRIAL-Light.woff2') format('woff2'),
        url('./../../fonts/aeonik/AeonikProTRIAL-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Pro TRIAL';
    src: url('./../../fonts/aeonik/AeonikProTRIAL-Bold.eot');
    src: url('./../../fonts/aeonik/AeonikProTRIAL-Bold.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/aeonik/AeonikProTRIAL-Bold.woff2') format('woff2'),
        url('./../../fonts/aeonik/AeonikProTRIAL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aeonik Pro TRIAL';
    src: url('./../../fonts/aeonik/AeonikProTRIAL-Regular.eot');
    src: url('./../../fonts/aeonik/AeonikProTRIAL-Regular.eot?#iefix') format('embedded-opentype'),
        url('./../../fonts/aeonik/AeonikProTRIAL-Regular.woff2') format('woff2'),
        url('./../../fonts/aeonik/AeonikProTRIAL-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
    font-size: 9px !important;

    @media screen and (min-width: 1300px) {
        font-size: 8.5px !important;
    }

    @media screen and (min-width: 1500px) {
        font-size: 10px !important;
    }
}

html,
body {
    font-family: 'Aeonik Pro TRIAL';

    font-size: 1.4rem;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.9rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.4rem;
}