#e8uM4KwbCz93_to {
    animation: e8uM4KwbCz93_to__to 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz93_to__to {
    0% {
        transform: translate(3299.002697px, -150.873067px)
    }

    43.333333% {
        transform: translate(3298.300000px, -30.872000px)
    }

    100% {
        transform: translate(3298.300000px, -30.872000px)
    }
}

#e8uM4KwbCz93 {
    animation: e8uM4KwbCz93_c_o 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz93_c_o {
    0% {
        opacity: 0
    }

    43.333333% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

#e8uM4KwbCz95 {
    animation: e8uM4KwbCz95_c_o 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz95_c_o {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#e8uM4KwbCz931 {
    animation-name: e8uM4KwbCz931__sz, e8uM4KwbCz931__rd;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: 1;
}

@keyframes e8uM4KwbCz931__sz {
    0% {
        width: 18px;
        height: 18px
    }

    50% {
        width: 70px;
        height: 70px
    }

    100% {
        width: 48px;
        height: 48px
    }
}

@keyframes e8uM4KwbCz931__rd {
    0% {}

    50% {}

    100% {}
}

#e8uM4KwbCz931_to {
    animation: e8uM4KwbCz931_to__to 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz931_to__to {
    0% {
        transform: translate(1042.002000px, 274.381000px)
    }

    50% {
        transform: translate(981.002000px, 332.381000px)
    }

    100% {
        transform: translate(933px, 410.381000px)
    }
}

#e8uM4KwbCz932 {
    animation-name: e8uM4KwbCz932__sz, e8uM4KwbCz932__rd;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: 1;
}

@keyframes e8uM4KwbCz932__sz {
    0% {
        width: 18px;
        height: 18px
    }

    40% {
        width: 18px;
        height: 18px
    }

    100% {
        width: 70px;
        height: 70px
    }
}

@keyframes e8uM4KwbCz932__rd {
    0% {}

    100% {}
}

#e8uM4KwbCz932_to {
    animation: e8uM4KwbCz932_to__to 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz932_to__to {
    0% {
        transform: translate(1053.002000px, 285.381000px)
    }

    40% {
        transform: translate(1053.002000px, 285.381000px)
    }

    100% {
        transform: translate(992px, 343.381000px)
    }
}

#e8uM4KwbCz933 {
    animation: e8uM4KwbCz933_c_o 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz933_c_o {
    0% {
        opacity: 0
    }

    53.333333% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#e8uM4KwbCz934 {
    animation: e8uM4KwbCz934_c_o 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz934_c_o {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#e8uM4KwbCz935 {
    animation: e8uM4KwbCz935_c_o 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz935_c_o {
    0% {
        opacity: 1
    }

    36.666667% {
        opacity: 1
    }

    70% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#e8uM4KwbCz936_to {
    animation: e8uM4KwbCz936_to__to 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz936_to__to {
    0% {
        transform: translate(93px, 400.381000px)
    }

    30% {
        transform: translate(93px, 341.381000px)
    }

    100% {
        transform: translate(93px, 341.381000px)
    }
}

#e8uM4KwbCz936 {
    animation: e8uM4KwbCz936_c_o 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz936_c_o {
    0% {
        opacity: 0
    }

    30% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

#e8uM4KwbCz937 {
    animation: e8uM4KwbCz937__rd 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz937__rd {
    0% {}

    13.333333% {}

    30% {}

    100% {}
}

#e8uM4KwbCz937_tr {
    animation: e8uM4KwbCz937_tr__tr 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz937_tr__tr {
    0% {
        transform: translate(126px, -14.619000px) rotate(180deg)
    }

    13.333333% {
        transform: translate(126px, -14.619000px) rotate(180deg)
    }

    30% {
        transform: translate(126px, -14.619000px) rotate(0deg)
    }

    100% {
        transform: translate(126px, -14.619000px) rotate(0deg)
    }
}

#e8uM4KwbCz937_ts {
    animation: e8uM4KwbCz937_ts__ts 3000ms linear 1 normal forwards
}

@keyframes e8uM4KwbCz937_ts__ts {
    0% {
        transform: scale(0, 0)
    }

    13.333333% {
        transform: scale(0, 0)
    }

    30% {
        transform: scale(1, 1)
    }

    100% {
        transform: scale(1, 1)
    }
}